html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 370;
  line-height: 1.5;
  color: #225252;
}

* {
  box-sizing: border-box;
}

.header {
  font-weight: 500;
}

.footer {
  background-color: #fbfbe7;
  height: 80px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-link {
  padding: 20px;
  line-height: 50px;
  transition: 0.3s;
  text-decoration: none;
  padding: 0 20px;
  white-space: nowrap;
  color: #2f4f4f;
}

.nav-link:hover {
  color: #ffe;
  background-color: #5488af;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  list-style: none;
  height: 80px;
  background-color: #fbfbe7;
}

.github-link {
  text-decoration: none;
  transition: 0.3s;
  color: #2f4f4f;
}

.github-link:hover {
  color: #5488af;
}

.project-link {
  text-decoration: none;
  transition: 0.3s;
  color: #225252;
  font-size: 20px;
}

.project-link:hover {
  color: #5488af;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  padding: 50px;
  color: #225252;
}

.profile-class {
  text-align: center;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.footer-link {
  text-decoration: none;
  color: #5488af;
}

.footer-link:hover {
  color: #225252;
}

.conteiner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  font-size: 25px;
}

.img-class {
  border-radius: 10%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
